<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Task</title>
  <link rel="stylesheet" href="{{ url_for('static_path', path='style.css') }}">
</head>

<body>
<div class="frame">
  <div class="container">
    <h1>Add Task</h1>

    <form action="{{ url_for('add_task') }}" method="POST">
      <label for="title">Task:</label>
      <input type="text" id="title" name="title" required>

      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>

      <label for="due_date">Due Date:</label>
      <input type="date" id="due_date" name="due_date">

      <label for="completed">Completed?:</label>
      <input type="checkbox" id="completed" name="completed"><br>

      <button type="submit" class="button button-add">Add Task</button><br>
    </form>
  <div class="button-container">
    <a href="{{ url_for('index') }}" class="button button-list">Go to Home</a>
  </div>
  </div>
</div>
</body>

</html>
