<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODO App</title>
  <link rel="stylesheet" href="{{ url_for('static_path', path='style.css') }}">
</head>

<body>
<div class="frame">
  <div class="container">
    <h1>Welcome to our TODO App</h1>
    <div class="button-container">
      <a href="{{ url_for('add_task') }}" class="button">Add Task</a>
      <a href="{{ url_for('search_task') }}" class="button">Search Tasks</a>
      <a href="{{ url_for('list_tasks') }}" class="button">List Tasks</a>
    </div>
  </div>
  </div>
</body>
</html>
